<!DOCTYPE html>
<html
    lang="pt-br">
  <head>
    <meta 
        charset="utf-8">
    <meta 
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link 
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">
    <!-- ajaxObject-->
    <script
        type="text/javascript"
        language="javascript"
        >
        function ajaxFunction(){
        var ajaxRequest;    
        try{
            ajaxRequest =  new XMLHttpRequest();
        } catch(e){

            try{
                ajaxRequest =  new ActiveXObject("Msxl2.XMLHTTP");
            } catch(e){
                try{
                    ajaxRequest = new ActiveXObject("Miscrosft.XMLHTTP");
                } catch(e){
                    alert ("Seu navegador parou de funcionar!");
                    return false;
                }
            }

        }

        ajaxRequest.onreadystatechange = function(){
            if(ajaxRequest.readyState === 4){
                var ajaxDisplay = document.getElementById('res');
                ajaxDisplay.value = JSON.parse( ajaxRequest.responseText ).resultado;
                
            }
        }

        var ajaxDisplay = document.getElementById('sumValues');
        var x = document.getElementById('x').value;
        var y = document.getElementById('y').value;
        var querString = "/"+x+"/"+y;
        ajaxRequest.open('GET', '/soma'+querString);
        ajaxRequest.send(null);

        }
        
        function sendFormWithKeyEnter(event) {
            //var key = event.which || event.keyCode;
            var ajaxDisplay = document.getElementById('res').value = null;
            ajaxFunction();  
        }
    
    </script>
    
    <title>
        Somando X e Y
    </title>
  
</head>
  <body>
    <div class="container container-fluid">
        <div id="sumValues" class="card" > 
            <div class="card-header text-center">
                <span 
                    class="badge badge-secondary"
                    >
                    <h1>Somar Dois Valores</h1>
                </span>
            </div>
            <form autocomplete="off" class="jumbotron jumbotron-fluid " >
                    <div class="row form-row col-md-8 mb-3"></div>
                        <div class="col input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="x" class="input-group-text"> Pirmeiro valor: </label>
                            </div>
                            <input 
                                id="x"
                                onchange="sendFormWithKeyEnter(event)"
                                onkeypress="sendFormWithKeyEnter(event)"
                                onkeydown="sendFormWithKeyEnter(event)"
                                type="text" 
                                class="form-control" >
                        </div>
                        <div class="col input-group mb-3">
                            <div class="input-group-prepend">
                                <label for="y" class="input-group-text"> Segundo valor: </label>
                            </div>

                            <input 
                                id="y"
                                onchange="sendFormWithKeyEnter(event)"
                                onkeypress="sendFormWithKeyEnter(event)"
                                onkeydown="sendFormWithKeyEnter(event)" 
                                type="text" 
                                class="form-control" >
                        </div>
                        
                        <div class="col">
                            <br>
                                <input
                                    type="button"
                                    id="btnSum"
                                    class="btn btn-primary btn-lg btn-block" 
                                    onclick = 'ajaxFunction()'
                                    onkeypress="sendFormWithKeyEnter(event)"
                                    value = "=">
                            <br>
                        </div>

                        <div class="col input-group mb-3">
                                <div class="input-group-prepend">
                                    <label for="res" class="input-group-text" disabled> Resultado: </label>
                                </div>
                                <input id="res" type="text" class="form-control" disabled placehoder={{resultado}}>
                        </div>

                    </div>
                </form>
        </div>
    </div>
            <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>